﻿@{
    ViewBag.Title = "Company History";
}

@section Header {
    <a href="./index">
	    <img src="../Images/logo.jpg" class="moorlandLogo">
	    <img src="../Images/RHSLogo.jpg" class="rhsLogo">
    </a>
}

	<div id="content">
		<div class="container">
			<hr class="row-divider" />
			<div class="row">
				<div class="grid-12">
					<h1>Company History</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in risus eu tortor adipiscing accumsan in et dolor. Donec sapien justo, viverra in viverra ut, tristique vel orci. Morbi ut consectetur leo. Suspendisse nisi nulla, lacinia nec tellus vestibulum, malesuada cursus justo. Cras eu dui tincidunt, imperdiet elit vitae, pellentesque erat. Phasellus ac est at velit molestie cursus in sed lacus. Aenean et orci augue. Morbi tincidunt mauris adipiscing, suscipit massa quis, ullamcorper nulla.</p>

					<p>Sed molestie justo mauris, imperdiet ullamcorper elit imperdiet eu. Aenean imperdiet, turpis id aliquet lacinia, augue est gravida diam, eleifend consequat tellus ligula in lacus. Donec accumsan condimentum mauris. Vestibulum semper nunc turpis, vitae elementum lacus consequat non. Vestibulum et volutpat dui, eget sodales massa. Nam ornare eleifend purus ut accumsan. Donec et commodo neque. Pellentesque sodales malesuada leo bibendum placerat.</p>

					<h4>Sub Title</h4>
					<p>Etiam vulputate ac massa a ultricies. Etiam nibh justo, consectetur id euismod at, consequat id tellus. Pellentesque porta, justo in mattis tristique, lacus quam luctus nisl, id feugiat enim tellus et est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean eget elit arcu. Mauris mauris augue, consectetur porttitor felis sit amet, posuere sodales lacus. Cras a placerat enim, sed rutrum magna. Suspendisse potenti. Mauris ullamcorper libero eu nunc scelerisque vulputate. Duis porttitor accumsan adipiscing. Sed ut orci eget tellus fringilla pellentesque. Cras a neque sollicitudin, faucibus urna commodo, dictum dui. Aenean faucibus dui eu pellentesque viverra. Morbi facilisis blandit pellentesque. Proin eu mi et dui laoreet tempor eget ut velit.</p>

					<h4>Another Sub Title</h4>
					<p>Etiam vulputate ac massa a ultricies. Etiam nibh justo, consectetur id euismod at, consequat id tellus. Pellentesque porta, justo in mattis tristique, lacus quam luctus nisl, id feugiat enim tellus et est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean eget elit arcu. Mauris mauris augue, consectetur porttitor felis sit amet, posuere sodales lacus.</p>
				</div>
			</div>
		</div>
	</div>