﻿@{
    ViewBag.Title = "Development";
}

@section Header {
    <a href="./index">
	    <img src="../Images/logo.jpg" class="moorlandLogo">
	    <img src="../Images/RHSLogo.jpg" class="rhsLogo">
    </a>
}

	<div id="content">
		<div class="container">
			<hr class="row-divider" />
			<div class="row">
				<div class="grid-12">
					<h1>Development</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in risus eu tortor adipiscing accumsan in et dolor. Donec sapien justo, viverra in viverra ut, tristique vel orci. Morbi ut consectetur leo. Suspendisse nisi nulla, lacinia nec tellus vestibulum, malesuada cursus justo. Cras eu dui tincidunt, imperdiet elit vitae, pellentesque erat. Phasellus ac est at velit molestie cursus in sed lacus. Aenean et orci augue. Morbi tincidunt mauris adipiscing, suscipit massa quis, ullamcorper nulla.</p>
				</div>
			</div>
			<div class="row" id="developmentRows">
				<div class="grid-4">
					<img src="./Images/rugIcon.jpg">
					<h4>FIRST SUB TITLE</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in risus eu tortor adipiscing accumsan in et dolor. Donec sapien justo, viverra in viverra ut, tristique vel orci. Morbi ut consectetur leo.</p>
				</div>
				<div class="grid-4">
					<img src="./Images/rugIcon.jpg">
					<h4>SECOND SUB TITLE</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in risus eu tortor adipiscing accumsan in et dolor. Donec sapien justo, viverra in viverra ut, tristique vel orci. Morbi ut consectetur leo.</p>
				</div>
				<div class="grid-4">
					<img src="./Images/rugIcon.jpg">
					<h4>THIRD SUB TITLE</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in risus eu tortor adipiscing accumsan in et dolor. Donec sapien justo, viverra in viverra ut, tristique vel orci. Morbi ut consectetur leo.</p>
				</div>
			</div>
		</div>
	</div>
