﻿@{
    ViewBag.Title = "Enquiry Thanks";
}

<h2>Enquiry Thanks</h2>

@section header {
    <a href="./index">
	    <img src="../Images/logo.jpg" class="moorlandLogo">
	    <img src="../Images/RHSLogo.jpg" class="rhsLogo">
    </a>
}
