﻿@{
    ViewBag.Title = "Enquiries";
}

@section Header {
    <a href="./index">
	    <img src="../Images/logo.jpg" class="moorlandLogo">
	    <img src="../Images/RHSLogo.jpg" class="rhsLogo">
    </a>
}

	<div id="content">
		<div class="container">
			<hr class="row-divider" />
			<div class="row">
				<div class="grid-12">
					<h1>Contact Us</h1>
				</div>
			</div>
		</div>
	</div>
	<div id="contact-map">
		<iframe width="100%" height="180" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=18+Kirkrise,+Frosterley,+Co+Durham+DL13+2SF&amp;aq=&amp;sll=52.8382,-2.327815&amp;sspn=11.811881,28.54248&amp;ie=UTF8&amp;hq=&amp;hnear=18+Kirk+Rise,+Frosterley,+Bishop+Auckland+DL13+2SF,+United+Kingdom&amp;t=m&amp;z=14&amp;iwloc=A&amp;ll=54.728109,-1.960994&amp;output=embed"></iframe>
	</div>
	<div id="content">
		<div class="container">
			<div class="row" id="enquiriesRows">
				<div class="grid-6">
					<h4>Enquiries</h4>
					<br />
					@using(Html.BeginForm("Enquiry", "Home", FormMethod.Post)) {
						    <label>Name:</label>
						    <input type="text" name="name" />

						    <label>Telephone:</label>
						    <input type="text" name="telephone" />

						    <label>Email:</label>
						    <input type="text" name="emailaddress" />

						    <label>Message:</label>
						    <textarea name="message"></textarea>
                            <br />
                            <input type="submit" value="Send Enquiry" />
					    
                    }
				</div>
				<div class="grid-6" id="additionalInformation">
					<h4>Additional Information</h4>
					<br />
					<p>The Moorland Rug Company Ltd<br>
						18 Kirkrise,<br />
						Frosterley,<br />
						Co Durham DL13 2SF
					</p>
					<p>Tel 01388 526454<br>
						Fax 01388 527004
					</p>
				</div>
			</div>
		</div>
	</div>