﻿@{
    ViewBag.Title = "FAQs";
}

@section Header {
    <a href="./index">
	    <img src="../Images/logo.jpg" class="moorlandLogo">
	    <img src="../Images/RHSLogo.jpg" class="rhsLogo">
    </a>
}


	<div id="content">
		<div class="container">
			<hr class="row-divider" />
			<div class="row">
				<div class="grid-12">
					<h1>Frequently Asked Questions</h1>
					<ol class="faqQuestions">
						<li class="question">Question</li>
						<div class="answer">Answer</div>
						<li class="question">Question</li>
						<div class="answer">Answer</div>
						<li class="question">Question</li>
						<div class="answer">Answer</div>
						<li class="question">Question</li>
						<div class="answer">Answer</div>
						<li class="question">Question</li>
						<div class="answer">Answer</div>
						<li class="question">Question</li>
						<div class="answer">Answer</div>
						<li class="question">Question</li>
						<div class="answer">Answer</div>
						<li class="question">Question</li>
						<div class="answer">Answer</div>
						<li class="question">Question</li>
						<div class="answer">Answer</div>
						<li class="question">Question</li>
						<div class="answer">Answer</div>
						<li class="question">Question</li>
						<div class="answer">Answer</div>
						<li class="question">Question</li>
						<div class="answer">Answer</div>
						<li class="question">Question</li>
						<div class="answer">Answer</div>
						<li class="question">Question</li>
						<div class="answer">Answer</div>
						<li class="question">Question</li>
						<div class="answer">Answer</div>
					</ol>
				</div>
			</div>
		</div>
	</div>