﻿@{
    ViewBag.Title = "Home";
}

@section Header {
	<h1 id="title">
		<a href="./index">
			The Moorland Rug Company Ltd
		</a>
	</h1>
}
	<hr class="row-divider" />
	<div id="masthead">
		
		<div class="container">
		
			<div id="masthead-carousel" class="carousel slide">
				
				<div class="carousel-inner">
					<div class="active item">
						<img src="./Images/slider/1.jpg" alt="" />
				
						<div class="masthead-details">
							
							<h2>Optional image tag line title</h2>
							
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							
						</div> <!-- /masthead-details -->
					</div> <!-- /item -->
					
					<div class="item">
						<img src="./Images/slider/1.jpg" alt="" />
				
						<div class="masthead-details">
							
							<h2>Optional image tag line title</h2>
							
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							
						</div> <!-- /masthead-details -->
					</div> <!-- /item -->
					
				</div> <!-- /carousel-inner -->
				
				<a class="carousel-control left" href="#masthead-carousel" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#masthead-carousel" data-slide="next">&rsaquo;</a>
				
			</div> <!-- /masthead-carousel -->
			
		</div> <!-- /container -->
	
	</div> <!-- /masthead -->
	
	
	
	
	<div id="content">
		<div class="container">
			<hr class="row-divider" />
			<div class="row">
				<div class="grid-12">
					<h1>Welcome to Moorland Rugs UK</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in risus eu tortor adipiscing accumsan in et dolor. Donec sapien justo, viverra in viverra ut, tristique vel orci. Morbi ut consectetur leo. Suspendisse nisi nulla, lacinia nec tellus vestibulum, malesuada cursus justo. Cras eu dui tincidunt, imperdiet elit vitae, pellentesque erat. Phasellus ac est at velit molestie cursus in sed lacus. Aenean et orci augue. Morbi tincidunt mauris adipiscing, suscipit massa quis, ullamcorper nulla.</p>

					<p>Sed molestie justo mauris, imperdiet ullamcorper elit imperdiet eu. Aenean imperdiet, turpis id aliquet lacinia, augue est gravida diam, eleifend consequat tellus ligula in lacus. Donec accumsan condimentum mauris. Vestibulum semper nunc turpis, vitae elementum lacus consequat non. Vestibulum et volutpat dui, eget sodales massa. Nam ornare eleifend purus ut accumsan. Donec et commodo neque. Pellentesque sodales malesuada leo bibendum placerat.</p>

					<p>Etiam vulputate ac massa a ultricies. Etiam nibh justo, consectetur id euismod at, consequat id tellus. Pellentesque porta, justo in mattis tristique, lacus quam luctus nisl, id feugiat enim tellus et est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean eget elit arcu. Mauris mauris augue, consectetur porttitor felis sit amet, posuere sodales lacus. Cras a placerat enim, sed rutrum magna. Suspendisse potenti. Mauris ullamcorper libero eu nunc scelerisque vulputate. Duis porttitor accumsan adipiscing. Sed ut orci eget tellus fringilla pellentesque. Cras a neque sollicitudin, faucibus urna commodo, dictum dui. Aenean faucibus dui eu pellentesque viverra. Morbi facilisis blandit pellentesque. Proin eu mi et dui laoreet tempor eget ut velit.</p>
				</div>
			</div>
		</div>
	</div>