﻿@{
    ViewBag.Title = "News";
}

@section Header {
    <a href="./index">
	    <img src="../Images/logo.jpg" class="moorlandLogo">
	    <img src="../Images/RHSLogo.jpg" class="rhsLogo">
    </a>
}

	<div id="content">
		<div class="container">
			<hr class="row-divider" />
			<div class="row">
				<div class="grid-12">
					<h1>News</h1>
				</div>
			</div>
		</div>
	</div>
	<div id="content">
		<div class="container">
			<div class="row">
				<div class="grid-6">
					<h4>News Article 1 Title</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut mauris elit. Donec ut porttitor ligula, nec placerat urna. Nam interdum arcu at leo dictum pulvinar. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum et feugiat libero. Etiam pharetra lacinia mi vitae consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque venenatis felis diam, in porta justo eleifend mollis. Fusce sed nibh posuere, consequat orci non, accumsan ligula. Mauris adipiscing velit ac facilisis pharetra.</p>

					<p>Morbi pretium nisl congue sapien vulputate eleifend. Sed tempor tortor arcu, luctus vehicula felis condimentum sit amet. Donec vehicula non lorem ac blandit. Suspendisse porttitor vehicula odio non semper. Pellentesque vitae vulputate justo. Aenean pulvinar consequat dolor. Sed adipiscing consectetur nisi. Morbi tempor in nisi eget fringilla. Aenean vel gravida turpis, vitae venenatis tortor.</p>
				</div>
				<div class="grid-6" id="additionalInformation">
					<h4>Article Information</h4>
					<br />
					<p><strong>Posted: </strong>3rd July 2013<br />
						<strong>Author: </strong>Admin<br />
						<strong>Tags: </strong>news article 1, lorem ipsum dolor, test
					</p>
				</div>
			</div>
			<div class="row">
				<div class="grid-6">
					<h4>News Article 2 Title</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut mauris elit. Donec ut porttitor ligula, nec placerat urna. Nam interdum arcu at leo dictum pulvinar. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum et feugiat libero. Etiam pharetra lacinia mi vitae consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque venenatis felis diam, in porta justo eleifend mollis. Fusce sed nibh posuere, consequat orci non, accumsan ligula. Mauris adipiscing velit ac facilisis pharetra.</p>

					<p>Morbi pretium nisl congue sapien vulputate eleifend. Sed tempor tortor arcu, luctus vehicula felis condimentum sit amet. Donec vehicula non lorem ac blandit. Suspendisse porttitor vehicula odio non semper. Pellentesque vitae vulputate justo. Aenean pulvinar consequat dolor. Sed adipiscing consectetur nisi. Morbi tempor in nisi eget fringilla. Aenean vel gravida turpis, vitae venenatis tortor.</p>
				</div>
				<div class="grid-6" id="additionalInformation">
					<h4>Article Information</h4>
					<br />
					<p><strong>Posted: </strong>3rd July 2013<br />
						<strong>Author: </strong>Admin<br />
						<strong>Tags: </strong>news article 2, lorem ipsum dolor, test
					</p>
				</div>
			</div>
			<div class="row">
				<div class="grid-6">
					<h4>News Article 3 Title</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut mauris elit. Donec ut porttitor ligula, nec placerat urna. Nam interdum arcu at leo dictum pulvinar. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum et feugiat libero. Etiam pharetra lacinia mi vitae consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque venenatis felis diam, in porta justo eleifend mollis. Fusce sed nibh posuere, consequat orci non, accumsan ligula. Mauris adipiscing velit ac facilisis pharetra.</p>

					<p>Morbi pretium nisl congue sapien vulputate eleifend. Sed tempor tortor arcu, luctus vehicula felis condimentum sit amet. Donec vehicula non lorem ac blandit. Suspendisse porttitor vehicula odio non semper. Pellentesque vitae vulputate justo. Aenean pulvinar consequat dolor. Sed adipiscing consectetur nisi. Morbi tempor in nisi eget fringilla. Aenean vel gravida turpis, vitae venenatis tortor.</p>
				</div>
				<div class="grid-6" id="additionalInformation">
					<h4>Article Information</h4>
					<br />
					<p><strong>Posted: </strong>3rd July 2013<br />
						<strong>Author: </strong>Admin<br />
						<strong>Tags: </strong>news article 3, lorem ipsum dolor, test
					</p>
				</div>
			</div>
		</div>
	</div>

