﻿@{
    ViewBag.Title = "Order Samples";
}

@section Header {
    <a href="./index">
	    <img src="../Images/logo.jpg" class="moorlandLogo">
	    <img src="../Images/RHSLogo.jpg" class="rhsLogo">
    </a>
}

	<div id="content">
		<div class="container">
			<hr class="row-divider" />
			<div class="row">
				<div class="grid-12">
					<h1>Contact Us</h1>
				</div>
			</div>
		</div>
	</div>
	<div id="content">
		<div class="container">
			<div class="row" id="enquiriesRows">
				<div class="grid-6">
					<h4>Order Samples</h4>
					<br />
					<form>
						<label>Name:</label>
						<input type="text" name="name">

						<label>Telephone:</label>
						<input type="text" name="telephone">

						<label>Email:</label>
						<input type="text" name="emailaddress">

						<label>Message:</label>
						<textarea></textarea>
					</form>
				</div>
				<div class="grid-6" id="additionalInformation">
					<h4>Additional Information</h4>
					<br />
					<p>The Moorland Rug Company Ltd<br>
						18 Kirkrise,<br />
						Frosterley,<br />
						Co Durham DL13 2SF
					</p>
					<p>Tel 01388 526454<br>
						Fax 01388 527004
					</p>
				</div>
			</div>
		</div>
	</div>
