﻿@{
    ViewBag.Title = "Rug Designs";
}

@section Header {
    <a href="./index">
	    <img src="../Images/logo.jpg" class="moorlandLogo">
	    <img src="../Images/RHSLogo.jpg" class="rhsLogo">
    </a>
}

	<div id="content">
		<div class="container">
			<hr class="row-divider" />
			<div class="row">
				<div class="grid-12">
					<h1>Rug Designs</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in risus eu tortor adipiscing accumsan in et dolor. Donec sapien justo, viverra in viverra ut, tristique vel orci. Morbi ut consectetur leo. Suspendisse nisi nulla, lacinia nec tellus vestibulum, malesuada cursus justo. Cras eu dui tincidunt, imperdiet elit vitae, pellentesque erat. Phasellus ac est at velit molestie cursus in sed lacus. Aenean et orci augue. Morbi tincidunt mauris adipiscing, suscipit massa quis, ullamcorper nulla.</p>
				</div>
			</div>
			<div class="row" id="rugDesignsRows">
				<div class="grid-4">
					<img id="imageZoom" src="./Images/rug-designs/1.jpg" data-zoom-image="./Images/rug-designs/1large.jpg">
				</div>
				<div class="grid-4">
					<img id="imageZoom1" src="./Images/rug-designs/1.jpg" data-zoom-image="./Images/rug-designs/1large.jpg">
				</div>
				<div class="grid-4">
					<img id="imageZoom2" src="./Images/rug-designs/1.jpg" data-zoom-image="./Images/rug-designs/1large.jpg">
				</div>
			</div>
			<div class="row" id="rugDesignsRows">
				<div class="grid-4">
					<img id="imageZoom3" src="./Images/rug-designs/1.jpg" data-zoom-image="./Images/rug-designs/1large.jpg">
				</div>
				<div class="grid-4">
					<img id="imageZoom4" src="./Images/rug-designs/1.jpg" data-zoom-image="./Images/rug-designs/1large.jpg">
				</div>
				<div class="grid-4">
					<img id="imageZoom5" src="./Images/rug-designs/1.jpg" data-zoom-image="./Images/rug-designs/1large.jpg">
				</div>
			</div>
		</div>
	</div>
