﻿@{
    ViewBag.Title = "Terms";
}

@section Header {
    <a href="./index">
	    <img src="../Images/logo.jpg" class="moorlandLogo">
	    <img src="../Images/RHSLogo.jpg" class="rhsLogo">
    </a>
}

	<div id="content">
		<div class="container">
			<hr class="row-divider" />
			<div class="row">
				<div class="grid-12">
					<h1>Terms & Conditions</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non facilisis nisi, sit amet gravida diam. Integer porta nulla iaculis, tristique felis et, sodales quam. In feugiat odio pretium tincidunt tincidunt. Vestibulum vel viverra massa. Ut et varius arcu. Etiam sit amet lobortis lectus. Mauris in iaculis metus, malesuada aliquam tortor. Mauris euismod lobortis diam, at ultricies magna facilisis sed. Nam non viverra urna. Maecenas auctor dolor arcu, euismod fringilla ante mattis id. Nulla facilisi. Fusce congue quam at mauris ullamcorper convallis. Fusce quis tellus sit amet augue semper ultricies at suscipit orci.</p>

					<p>Phasellus nec dignissim orci. Cras sodales aliquam erat, a rhoncus dolor blandit pretium. Vestibulum justo nisl, interdum id condimentum non, eleifend at purus. Phasellus congue arcu nec velit commodo, in luctus eros porttitor. Maecenas pellentesque lacus mauris, id adipiscing massa elementum ac. Nam molestie ut justo pellentesque luctus. Nulla tincidunt justo vel tristique viverra. Quisque porta orci eget neque venenatis, vitae interdum nisi rutrum. Morbi in felis tristique, lacinia augue eu, sodales augue. Fusce mollis dapibus diam eu consectetur. Sed interdum placerat purus id malesuada. Nulla ac lorem eget justo viverra suscipit non eu mauris.</p>

					<p>Vestibulum volutpat blandit nisl sit amet tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque suscipit mi a augue congue, et feugiat ipsum dictum. Fusce in pharetra mauris, ut venenatis diam. Quisque iaculis posuere eleifend. Suspendisse ultrices mattis quam, eget ornare massa. Maecenas egestas semper semper. Aliquam congue magna eget magna egestas adipiscing. Suspendisse et sapien non tortor molestie iaculis feugiat ut ligula. Praesent pellentesque nunc enim, sed convallis risus sagittis et. Nulla facilisi. Nulla facilisi.
					</p>

					<p>Etiam dolor libero, molestie vitae malesuada et, bibendum nec massa. Curabitur convallis dui purus, eu auctor nisi posuere id. Aliquam non vehicula quam, vel scelerisque arcu. Aliquam lacinia erat sed egestas facilisis. Integer pharetra enim quis lacinia viverra. Morbi gravida arcu a lectus sollicitudin, nec interdum dui rhoncus. Nullam fringilla vitae massa fermentum fringilla. Phasellus et cursus eros. Nam eget odio quis nulla dignissim scelerisque. Praesent vel est sapien. Donec semper fermentum risus, eleifend posuere magna semper eget.
					</p>

					<p>Sed at nisi ut turpis commodo aliquet in non sapien. Nam sit amet ante ut orci adipiscing tincidunt auctor nec velit. Nunc hendrerit adipiscing erat, malesuada porttitor dolor commodo sed. Quisque sagittis, risus rhoncus commodo porta, tellus orci feugiat erat, ut ullamcorper justo tortor non felis. Vivamus ut scelerisque odio. Maecenas sodales pulvinar massa, ac fermentum nunc commodo vel. Quisque eleifend leo mi, quis vestibulum massa pulvinar quis. Maecenas tristique, nibh ut gravida vestibulum, sapien diam aliquet nibh, ut consequat nibh sapien ac risus. Nunc sit amet purus metus. Integer vestibulum congue lorem, quis auctor urna rhoncus eu.</p>
				</div>
			</div>
		</div>
	</div>
