﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Moorland Rugs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">  

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/bootstrap-responsive.min.css")" rel="stylesheet">


    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,800italic,400,600,800" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC' rel='stylesheet' type='text/css'>
        
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/focus-1.1-responsive.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/homepage.css")" rel="Stylesheet" />

    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/focus.js")"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<script src="@Url.Content("~/Scripts/jquery.elevateZoom-2.5.5.min.js")"></script>
	<script>
	    $(function () {
	        $("#imageZoom").elevateZoom();
	        $("#imageZoom1").elevateZoom();
	        $("#imageZoom2").elevateZoom();
	        $("#imageZoom3").elevateZoom();
	        $("#imageZoom4").elevateZoom();
	        $("#imageZoom5").elevateZoom();
	        $(".faqQuestions .question").click(function () {
	            $(this).next(".answer").fadeToggle();
	        });
	    })
	</script>
</head>

<body>
<div id="wrapper" class="clearfix">
	
	<div id="header">
		
		<div class="container">
			
            @RenderSection("Header", required: true)
			
		</div> <!-- /container -->
		
	</div>
	<div id="nav" class="clearfix">
		
		<div class="container">
		
			<ul id="main-nav">
				<li>
                    @Html.ActionLink("Home", "Index", null, new { @class = "Home"})
				</li>
				
				<li>
					@Html.ActionLink("Company History", "CompanyHistory", null, new { @class = "CompanyHistory" })
				</li>
				
				<li>
					@Html.ActionLink("Development", "Development", null, new { @class = "Development" })
				</li>
				
				<li>
					@Html.ActionLink("Rug Designs", "RugDesigns", null, new { @class = "RugDesigns" })
				</li>

				<li class="dropdown">
					<a href="javascript:;" data-toggle="dropdown">
						Contact Us
						<span class="caret"></span>
					</a>
					
					<ul class="dropdown-menu">
						<li>@Html.ActionLink("Enquiries", "Enquiries", null, new { @class = "Enquiries" })</li>
						<li>@Html.ActionLink("Order Samples", "OrderSamples", null, new { @class = "OrderSamples" })</li>
					</ul>
				
				<li>
					@Html.ActionLink("Prices", "Prices", null, new { @class = "Prices" })
				</li>
				
				<li>
					@Html.ActionLink("News", "News", null, new { @class = "News" })
				</li>
				</li>				
				
			</ul>
			
		</div> <!-- /container -->
		
	</div> <!-- /nav -->
    @RenderBody()
	<div id="footer">
		
		<div class="container">
		
			<div class="row">
				
				<div class="grid-4">
					<h1 id="footer-logo">Moorland Rugs</h1>
					
					<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					
				</div> <!-- /grid-4 -->
				
				<div class="grid-4">
					
					<h3>FOOTER TITLE 1</h3>
					
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt magna aliqua.</p>
					
				</div> <!-- /grid-4 -->
				
				<div class="grid-4">
						
					<h3>FOOTER TITLE 2</h3>
					
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt magna aliqua.</p>
					
					
				</div><!-- /grid-4 -->
				
			</div> <!-- /row -->
			
		</div> <!-- /container -->
		
	</div> <!-- /footer -->
	
	
	
	<div id="copyright">
		
		<div class="container">
			
			<div class="row">
			
				<div id="rights" class="grid-6">
				Copyright © Moorland Rug Company Ltd 2007-2013. All rights reserved.
				</div> <!-- /grid-6 -->
				
				<div id="totop" class="grid-6">
				@Html.ActionLink("Terms & Conditions", "Terms", null, new { @class = "Terms" }) - @Html.ActionLink("FAQs", "FAQs", null, new { @class = "FAQs" })
				</div> <!-- /grid-6 -->
				
			</div> <!-- /row -->
			
		</div> <!-- /container -->
			
	</div> <!-- /copyright -->
</div>
<script>

    $(function () {

        $('#masthead-carousel').carousel({ interval: false });

        var currentUrl = window.location.pathname;
        
        if (currentUrl == "/")
            $('.Home').parent().attr('class', 'active');
        else if (currentUrl.indexOf("/CompanyHistory") > -1)
            $('.CompanyHistory').parent().attr('class', 'active');
        else if (currentUrl.indexOf("/Development") > -1)
            $('.Development').parent().attr('class', 'active');
        else if (currentUrl.indexOf("/RugDesigns") > -1)
            $('.RugDesigns').parent().attr('class', 'active');
        else if (currentUrl.indexOf("/Enquiries") > -1)
            $('.Enquiries').parent().attr('class', 'active');
        else if (currentUrl.indexOf("/OrderSamples") > -1)
            $('.OrderSamples').parent().attr('class', 'active');
        else if (currentUrl.indexOf("/Prices") > -1)
            $('.Prices').parent().attr('class', 'active');
        else if (currentUrl.indexOf("/News") > -1)
            $('.News').parent().attr('class', 'active');
        else if (currentUrl == "/")
            $('.Home').parent().attr('class', 'active');


    });

</script>
</body>
</html>
