/*------------------------------------------------------------------

[Layout Stylesheet]

	Project:		Focus Business
	Version:		1.1
	Last change:	03/27/2013
	Assigned to:	Rod Howard (rh)


[Table of contents]

	1. Global
	2. Wrapper / #wrapper
	3. Header / #header
	4. Nav / #nav
	5. Responsive Nav / #responsive-nav
	6. Masthead / #masthead
	7. Page Title / #page-title
	8. Welcome / #welcome
	9. Content / #content
	10. Footer / #footer
	11. Copyright / #copyright
	12. Grid / .grid
	13. Miscellaneous

-------------------------------------------------------------------*/



/*------------------------------------------------------------------
[1. Global]
*/

body {
	margin: 0;
	
	font: 12px/1.7em 'Open Sans', arial, sans-serif;
	
	background: #DDD url(../Images/bg.png) repeat 0 0;
}

p {	
	margin-bottom: 2em;
	
	font: 13px/1.7em 'Open Sans', arial, sans-serif;
	color:#6d795f;
}

h1 {
	margin-bottom: .25em;
	margin-top:0px;
	text-transform: uppercase;
	font-family: Playfair Display SC;
	font-size: 32px;
	color: #c0d4a4;
}

h2 {
	margin-bottom: 5px;
	color: #6d795f;
	font-size: 31px;
	font-weight: 600;	
	font-family: Playfair Display SC;
	font-style: italic;
	margin-top:2px;
	text-transform:uppercase;
}

h3 {
	
	font-size: 23px;
	font-weight: 600;
	font-family: Playfair Display SC;
	text-transform: uppercase;
	color: #c0d4a4;
	margin-top:0px;
	margin-bottom:15px;
}

h4 {
	font-size: 23px;
	font-weight: 600;
	font-family: Playfair Display SC;
	text-transform: uppercase;
	color: #6d795f;
	margin-top:0px;
	margin-bottom:7px;
}


h5, h6 {
	margin-bottom: 1.25em;

	font-weight: 600;
}

input {
	font: 13px/1.7em 'Open Sans', arial, sans-serif;
}

.rhsLogo {
	float:left;
	margin-top:30px;
}

.moorlandLogo {
	float:right;
}

@media screen and (max-width:550px) {
	.rhsLogo {
		margin-left:auto;
		margin-right:auto;
		float:none;
	}
	.moorlandLogo {
		margin-left:auto;
		margin-right:auto;
		float:none;
	}
}

#developmentRows {
	text-align:center;
}

#developmentRows img {
	margin-bottom:10px;
}

#rugDesignsRows {
	text-align:center;
	margin-bottom:25px;
	margin-top:25px;
}

@media screen (max-width:550px) {
	#rugDesignsRows {
		text-align:left;
	}
}

.zoomWindowContainer div {
	margin-left:10px;
}

#enquiriesRows {
	margin-top:20px;
}

#additionalInformation {
	text-align:right;
}

#pricesTable {
	width:40%;
}

#pricesTable thead {
	border-bottom:1px solid #6d795f;
	font-weight:bold;
}

.faqQuestions .answer {
	width:90%;
	padding:5px;
	background:#eee;
	display:none;
}

/*MULTI ZOOM */

.magnifyarea { /* CSS to add shadow to magnified image. Optional */
	box-shadow: 5px 5px 7px #818181;
	-webkit-box-shadow: 5px 5px 7px #818181;
	-moz-box-shadow: 5px 5px 7px #818181;
	filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=5, offY=5, positive=true);
	background: white;
}

.targetarea { /* CSS for container div(s) of the zoomable image */
	width: 325px; /* wide or wider than the widest zoomable image */
	height: 338px; /* high or higher than the tallest zoomable image */
	margin-top:3px;
}

#two { /* Added CSS for second target div of zoomable images */
	height: 243px; /* high or higher than the tallest zoomable image */
}

.targetarea img { /* zoomable image */
	margin: auto; /* for horizontal centering */
	display: block; /* also for horizontal centering */
	position: relative; /* along with on the fly calculations in script, for vertical centering */
	border-width: 0;
}

.thumbs { /* divs holding the trigger links - styles optional, used here to center their links below their respective zoomable image */
	padding-top: 25px;
	width: 325px;
	text-align: center;
}

.thumbs a { /* trigger links on the thumbnail images */
	text-decoration: none; /* avoid underlines of images, text or spaces in these links */
}

.thumbs img { /* trigger images - the thumbnails used to load new zoomable images into the targetarea */
	border-width: 0; /* avoid default borders in some browsers */
}

#description, #description2 {
	position: absolute; /* required for description folows image bottom (descpos: true) */
	width: 325px; /* should be width of zoomable image container (.targetarea) */
	text-align: center;
	font: bold 95% sans-serif;
	margin-top: 3px; /* when following image bottom, this sets a fixed distance for that */
	color: #222;
	background-color: #fff;
}

/*------------------------------------------------------------------
[2. Wrapper]
*/

#wrapper {
	width: 880px;
	padding: 0 50px;
	margin: 0 auto;
	
	background: #FFF;
	
	border: 1px solid #DDD\9;
	border-top: 12px solid #c0d4a4;
	border-bottom: none;
	
	-webkit-box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.39);
	-moz-box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.39);
	box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.39);
}




/*------------------------------------------------------------------
[3. Header]
*/

#header {
	padding: 35px 0;
}

#header h1 {
	overflow: hidden;
	
	width: 271px;
	height: 178px;
	margin-left:auto;
	margin-right:auto;
	
	line-height: 600px;
	
	background: url(../Images/logo.jpg) no-repeat 0 0;
}

#header h1 a {
	display: block;
}




/*------------------------------------------------------------------
[4. Nav]
*/

#nav {
	margin-bottom: 0;
	margin-left:auto;
	margin-right:auto;
}

#nav .container > #main-nav {
	padding: 0;
	width:100%;
	text-align:center;
	height:30px;
	margin:0;
	
	border-top: 1px solid #DDD;
}

#nav .container > #main-nav > li {
	position: relative;
	top: -1px;
	
	
	padding: 0 40px 0 0;
	margin: 0;
        display:inline-block;
        *display:inline; /*IE7*/
        *zoom:1; /*IE7*/
	
	list-style: none;
	
	border-top: 1px solid #DDD;
}

#nav .container > #main-nav > li:last-child {
	padding-right: 0;
}

#nav .container > #main-nav > li > a {
	position: relative;
	top: -1px;
	
	display: block;
	
	padding: 15px 5px 5px;
	
	color: #999;
	
	text-transform: uppercase;
	
	border-top: 1px solid transparent;
}

#nav .container > #main-nav > li > a:hover,
#nav .container > #main-nav > li.dropdown.open > a {
	color: #333;
	
	text-decoration: none;
	
	border-top-color: #333;
	border-top-width: 1px;
}

#nav .container > #main-nav > li.active a {
	padding-top: 12px;
	
	color: #c0d4a4;
	
	border-top-color: #c0d4a4;
	border-top-width: 4px;
}

#nav .container > #main-nav > li > a > .caret {
	position: relative;
	top: -2px;
	
	margin-left: .5em;
}

#nav .dropdown-menu a:hover {
	background-color: #F90;
}

#nav .dropdown-menu > li > a {
	padding: 6px 12px;
}

#nav .dropdown-menu i {
	margin-right: .5em;
	
	font-size: 14px;
}

#nav .dropdown-menu::before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #CCC;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: -7px;
	left: 9px;
}

#nav .dropdown-menu::after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid white;
	position: absolute;
	top: -6px;
	left: 10px;
}

/* Homepage Nav */


#navHomepage .container > #main-nav {
	padding: 0;
	width:100%;
	text-align:center;
	height:50px;
	margin:0;
	
	border-top: 1px solid #DDD;
}

#navHomepage .container > #main-nav > li {
	position: relative;
	top: -1px;
	
	
	padding: 0 40px 0 0;
	margin: 0;
        display:inline-block;
        *display:inline; /*IE7*/
        *zoom:1; /*IE7*/
	
	list-style: none;
	
	border-top: 1px solid #DDD;
}

#navHomepage .container > #main-nav > li:last-child {
	padding-right: 0;
}

#navHomepage .container > #main-nav > li > a {
	position: relative;
	top: -1px;
	
	display: block;
	
	padding: 15px 5px 5px;
	
	color: #999;
	
	text-transform: uppercase;
	
	border-top: 1px solid transparent;
}

#navHomepage .container > #main-nav > li > a:hover,
#navHomepage .container > #main-nav > li.dropdown.open > a {
	color: #333;
	
	text-decoration: none;
	
	border-top-color: #333;
	border-top-width: 1px;
}

#navHomepage .container > #main-nav > li.active a {
	padding-top: 12px;
	
	color: #c0d4a4;
	
	border-top-color: #c0d4a4;
	border-top-width: 4px;
}

#navHomepage .container > #main-nav > li > a > .caret {
	position: relative;
	top: -2px;
	
	margin-left: .5em;
}

#navHomepage .dropdown-menu a:hover {
	background-color: #F90;
}

#navHomepage .dropdown-menu > li > a {
	padding: 6px 12px;
}

#navHomepage .dropdown-menu i {
	margin-right: .5em;
	
	font-size: 14px;
}

#navHomepage .dropdown-menu::before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #CCC;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: -7px;
	left: 9px;
}

#navHomepage .dropdown-menu::after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid white;
	position: absolute;
	top: -6px;
	left: 10px;
}




/*------------------------------------------------------------------
[5. Responsive Nav / #responsive-nav]
*/

#responsive-nav-trigger {
	width: auto;
	padding: 5px 10px;
	
	background-color: #F8F8F8;
	background-image: url(../Images/responsive-nav-bg.png);
	background-position: center right;
	background-repeat: no-repeat;
	
	color: #8F8F8F;
	
	font-size: 12px;
	line-height: 1.5;
			
	border: 1px solid #E8E8E8;
	
	cursor: pointer;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#responsive-nav-trigger.open {
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
		
#responsive-nav {
	position: relative;
	z-index: 1001;
	
	display: none;
	
	margin: 0 0 2em;
}

#responsive-nav-items {
	display: none;
	
	padding: 12px 10px;
	margin: 0 0 1.5em;
	
	background: #F8F8F8;
	
	border: 1px solid #e3e3e3;
	border-top: none;
	
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#responsive-nav-items ul {
	padding: 0;
	margin: 0;
}

#responsive-nav-items li {	
	list-style: none;
}

#responsive-nav-items > li > ul > li > a {
	padding-left: 30px;
}

#responsive-nav-items a {
	padding: 8px 10px;
	
	display: block;
	
	color: #222;
	
	font-size: 13px;
	font-weight: 600;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#responsive-nav-items a:hover {
	text-decoration: none;
	
	background: #DDD;
}

#responsive-nav-items li.active a {
	color: #FFF;
	
	text-decoration: none;
	
	background: #c0d4a4;
}




/*------------------------------------------------------------------
[6. Masthead]
*/

#masthead {
	position: relative;
	
	height: 375px;
	margin-bottom: 2.5em;
	
	-moz-box-shadow: 1px 1px 6px rgba(0,0,0,.5);	
	-webkit-box-shadow: 1px 1px 6px rgba(0,0,0,.5);
	box-shadow: 1px 1px 6px rgba(0,0,0,.5);
}

.masthead-details {
	position: absolute;
	top: 0;
	right: 0;
	
	width: 250px;
	height: 379px;
	padding: 20px;
	
	color: #FFF;
	
	background: #333;	
	background: rgba(0,0,0,.70);
	
	text-shadow: 1px 1px 1px rgba(0,0,0,.4);
}

.masthead-details h2 {
	margin-bottom: .75em;
	
	font-size: 28px;
}

.masthead-details p {	
	font-size: 14px;
	color: #e4e8e5;	
}

#masthead .carousel-control {
	top: 50%;
	left:-48px;
	background:#c0d4a4;
	
	line-height: 26px;
	
	opacity: .35;
	
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#masthead .carousel-control:hover {
	opacity: .80;
}

#masthead .carousel-control.right {
	left: auto;
	right: -48px;
}




/*------------------------------------------------------------------
[7. Page Title / #page-title]
*/

#page-title {    	
	padding: 30px 50px;
	margin: 0 -50px 2.5em;
	
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
	
	background: #EEE;
}

#page-title h1 {
	margin-bottom: .40em;
	
	font-weight: 600;
}

#page-title p {
	margin-bottom: 0;
	
	font-size: 15px;
}




/*------------------------------------------------------------------
[8. Welcome]
*/
#welcome h1 {
	padding: 0 80px;
	
	color: #777;
	
	font-size: 22px;
	font-style: italic;
	font-weight: 600;
	line-height: 1.75em;
}

#welcome {
	
	text-align: center;
}




/*------------------------------------------------------------------
[9. Content]
*/

#content {
	
}



/*------------------------------------------------------------------
[10. Footer]
*/
#footer {
	clear: both;
	
	padding: 20px 50px;
	margin: 2.5em -50px 0;
	
	color: #BBB;
	
	background: #222;
	
	border-top: 1px solid #111;
	
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
}

#footer .row {
	margin-bottom: 0;
}

#footer #footer-logo {		
	overflow: hidden;
	
	width: 237px;
	height: 43px;
	margin-bottom: 12px;
	
	line-height: 600px;
	
	background: url(../Images/footer-logo.jpg) no-repeat 0 0;
}

#footer a {
	color: #FFF;
}



/*------------------------------------------------------------------
[11. Copyright]
*/
#copyright {
	clear: both;
	
	padding: 20px 50px 15px 50px;
	margin: 0 -50px;
	
	color: #e7e7e7;
	
	font-size: 12px;
	
	background: #000;
	
	
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
}

#copyright #rights {
}

#copyright #totop {
	text-align: right;
}

#copyright a {
	color: #FFF;
}




/*------------------------------------------------------------------
[12. Grid]
*/

[class^="grid-"] {
	float: left;
	
	margin: 0 0 0 20px;
}

.row {
	margin-left: 0;
}

.container {
	width: 880px;
}

.grid-1 { width: 55px; }
.grid-2 { width: 130px; }
.grid-3 { width: 205px; }
.grid-4 { width: 280px; }
.grid-5 { width: 355px; }
.grid-6 { width: 430px; }
.grid-7 { width: 505px; }
.grid-8 { width: 580px; }
.grid-9 { width: 655px; }
.grid-10 { width: 730px; }
.grid-11 { width: 805px; }
.grid-12 { width: 880px; }


.append-12 { padding-right: 900px; }
.append-11 { padding-right: 825px; }
.append-10 { padding-right: 750px; }
.append-9 { padding-right: 675px; }
.append-8 { padding-right: 600px; }
.append-7 { padding-right: 525px; }
.append-6 { padding-right: 450px; }
.append-5 { padding-right: 375px; }
.append-4 { padding-right: 300px; }
.append-3 { padding-right: 225px; }
.append-2 { padding-right: 150px; }
.append-1 { padding-right: 75px; }


.prepend-12 { padding-left: 900px; }
.prepend-11 { padding-left: 825px; }
.prepend-10 { padding-left: 750px; }
.prepend-9 { padding-left: 675px; }
.prepend-8 { padding-left: 600px; }
.prepend-7 { padding-left: 525px; }
.prepend-6 { padding-left: 450px; }
.prepend-5 { padding-left: 375px; }
.prepend-4 { padding-left: 300px; }
.prepend-3 { padding-left: 225px; }
.prepend-2 { padding-left: 150px; }
.prepend-1 { padding-left: 75px; }



.row [class^="grid-"]:first-child {
	margin-left: 0;
}

.row.nopad [class^="grid-"] {
	margin-bottom: 0;
}

.row.divider:last-child {
	margin-bottom: 0;
	
	border: none;
}

.row-divider {
	
	margin-top:15px;
	margin-bottom:15px;
	
	border: none;
	border-bottom: 1px dotted #CCC;
}




/*------------------------------------------------------------------
[13. Miscellaneous]
*/

.slash {
	padding-right: .25em;
	
	color: #F90;
}


.social-icons-container {
	width: 100%;
	display: table;
	padding: 0;
	margin: 2.5em 0 0;
	
	list-style: none;
}

.social-icons-container li {
	width: 33%;
	display: table-cell;	
	
	text-align: center;			
}

.social-icon {
	width: 50px;
	height: 50px;
	display: inline-block;
	overflow: hidden;	
	
	line-height: 600px;
	
	background: url(../Images/social/social-sprite.png) no-repeat 0 0;					
}

.social-icon-twitter {
	background-position: 0 0;					
}

.social-icon-twitter:hover {
	background-position: 0 -50px;					
}

.social-icon-googleplus {
	background-position: -50px 0;
}

.social-icon-googleplus:hover {
	background-position: -50px -50px;
}

.social-icon-facebook {
	background-position: -100px 0;	
}

.social-icon-facebook:hover {
	background-position: -100px -50px;	
}


.clearfix,
.row { zoom: 1; }
.clearfix:before,
.row:before,
.clearfix:after,
.row:after { content: ""; display: table; }
.clearfix:after,
.row:after { clear: both; }